{% extends "layout.html" %}

{% block body %}
<h3></h3>
<hr>
<h3 style="color: #333; font-family: 'Arial', sans-serif; background-color: #f0f0f0; padding: 10px; border-radius: 5px;">About Me</h3>

<hr>
<div id="about" style="display: block; background-color: lightgray; padding: 20px; border-radius: 10px;">
    Merhaba, ben Muhammet Hanifi Akduman. Gebze Teknik Üniversitesinde Geomatik Mühendisliği lisans programını bitirdim. Ardından kariyerime Full-Stack (back-end) geliştirici olarak devam ediyorum  ve bu yolda inancım tam bir şekilde yürümeye devam etmekteyim. Hergün bir önceki günden daha bilgili uyanmanın mutluluğunu paylaşıyorum.
    Bu benim aslında database ile ilgili apilerle bağlantıların bol olduğu ilk projelerimdendir.
    <br>
    <hr>
    Emeği geçen başta Mustafa Murat Coşkun hocama teşekkür ederim.
</div>
{% endblock body %}
